/* 992 

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC 
16.TEMPLATE SPECIFICS
17.MODERNIZR

*/

/* 1.ROOT */
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */
/* 9.NAVIGATION */
/* 10.CONTENT */
/* 11.MAIN */

/*#theidea .entry-content {*/
    /*-moz-column-count: 4;*/
    /*-moz-column-gap: 80px;*/
    /*-moz-column-rule: 1px solid rgba(23, 119, 175, 0.2);*/
    /*-webkit-column-count: 4;*/
    /*-webkit-column-gap: 80px;*/
    /*-webkit-column-rule: 1px solid rgba(23, 119, 175, 0.2);*/
    /*column-count: 4;*/
    /*column-gap: 80px;*/
    /*column-rule: 1px solid rgba(23, 119, 175, 0.2);*/
/*}*/

#stuff .entry-content div,
#theprocess .entry-content {
    -moz-column-count: 3;
    -moz-column-gap: 80px;
    -moz-column-rule: 1px solid rgba(23, 119, 175, 0.2);
    -webkit-column-count: 3;
    -webkit-column-gap: 80px;
    -webkit-column-rule: 1px solid rgba(23, 119, 175, 0.2);
    column-count: 3;
    column-gap: 80px;
    column-rule: 1px solid rgba(23, 119, 175, 0.2);
}

#whoami .entry-content {
    -moz-column-count: 2;
    -moz-column-gap: 80px;
    -moz-column-rule: 1px solid rgba(23, 119, 175, 0.2);
    -webkit-column-count: 2;
    -webkit-column-gap: 80px;
    -webkit-column-rule: 1px solid rgba(23, 119, 175, 0.2);
    column-count: 2;
    column-gap: 80px;
    column-rule: 1px solid rgba(23, 119, 175, 0.2);
}

#whoami ul,
#whoami .entry-content > p {
    height: 152px;
}


/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */